# Auto detect text files and perform LF normalization
* text=auto

*.vi binary
*.vim binary
*.lvproj binary
*.lvclass binary
*.lvlps binary
*.aliases binary
*.lvlib binary
*.vit binary
*.ctl binary
*.ctt binary
*.xnode binary
*.xcontrol binary
*.rtm binary

*.vi linguist-language=LabVIEW
*.vim linguist-language=LabVIEW
*.lvclass linguist-language=LabVIEW
*.ctl linguist-language=LabVIEW
*.xctl linguist-language=LabVIEW
*.xnode linguist-language=LabVIEW